h1 {
    color: rgb(33, 33, 135);
    text-align: center;
}
.container {
    position:relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.div1, .div2, .div3 {
    width: 5vw;
    height: 5vh;
    background:rgb(81, 33, 135);
    position: absolute;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.div4 {
    width: 10vw;
    height: 10vh;
    background:rgb(33, 135, 67);
    position: absolute;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border-radius: 50%;
}
.div1 {
    animation-name: mymove;
    animation-delay: 0s;
}
.div2 {
    animation-name: mymove;
    animation-delay: 1s;
}
.div3 {
    animation-name: mymove;
    animation-delay: 2s;
}
.div4 {
    animation-name: mymove;
    animation-delay: 3s;
}

@keyframes mymove {
    0%, 100% {
        left: 0vw;
        top: 0vh;
    }
    25% {
        left: 95vw;
        top: 0vh;
    }
    50% { 
        left: 95vw;
        top: 90vh;
    }
    75% {
        left: 0vw;
        top: 90vh;
    }
}