h2 {
    text-align: center;
    color: brown;
}


.container {
    position:initial;
    width: 100vw;  /*viewport width*/
    height: 100vh;
    overflow: hidden;
    cursor: pointer;
}

.particle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: particleAnimation 1s ease-out forwards;
}

@keyframes particleAnimation  {
    to {
        transform: translate(calc(random()*200px), calc(random()*200px)) scale (0);
       opacity: 0;
    }
}