body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    text-align: center;
    line-height: 1.5;
}

ol{
    padding: 10%;
    list-style-type: decimal;
}

li{
    padding: 10px;
    border: 1px solid blue;
    background-color: chocolate;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 60px;
}

li:hover{
    background-color: aquamarine;
    color: chartreuse;
}

li a{
    color: red;
    text-decoration: none;
}