.container{
    position: initial;
    width: 100vw; /*viewport width*/
    height: 100vh; /**/
    overflow: hidden;
}

h2{
    text-align: center;
    color: brown;
}

.particle{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: particleAnimation 1s ease-out forwards;
}

@keyframes particleAnimation {
    to{
        transform: translate(calc(random() * 200px), calc(random() * 200px))  scale (0);
        opacity: 0;
    }
}