body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(111, 63, 4);
    text-align: center;
}
ol {
    padding: 10%;
    list-style-type:decimal;
}
li {
    padding: 5px;
    border: 1px solid #ffffff;
    background-color: rgb(129, 129, 255);
    margin-bottom: 5px;
    margin-left: 10px;
    margin-left: 20px;
}